{% extends 'base.html' %}

{% block title %}Дордой{% endblock %}

{% block sidebar %}

{% url 'dordoishop-product' as dordoishop_product_url %}
{% url 'dordoishop-account' as dordoishop_account_url %}


    <div class="text-center">
        <img class="img-circle" src="{{ MEDIA_URL }}{{ request.user.dordoishop.logo }}" alt="" width="70" height="70">
        <br/>
        <br/>
        <h4>Приветствую,{{ request.user.get_full_name }}</h4>
        <h5>{{ request.user.dordoishop.name }}</h5>
    </div>

    <div class="list-group">
        <span class="text-uppercase">Панель</span>
        <a href="{% url 'dordoishop-product' %}" class="list-group-item {% if request.path == dordoishop_product_url %} active {% endif %}">Товары</a>

        <span class="text-uppercase">Профиль</span>
        <a href="{% url 'dordoishop-account' %}" class="list-group-item {% if request.path == dordoishop_account_url %} active {% endif %}">Профиль</a>
    </div>

    <div class="text-center">
        <a href="{% url 'dordoishopapp-sign-out' %}?next={{ request.get_full_path|urlencode }}" class="button button-red">Выход</a>
    </div>




{% endblock %}